{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SeguridadSocial edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ud_enfermeria_ssocial') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
