{% extends ('layout.html.twig') %}

{% block body -%}
    <h1>Dependencia creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ud_admin_dependencia') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
